@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  font-family: 'Sarala', sans-serif;
}

h2 {
  margin: 0;
}

:root {
  /* font-sizes */
  --title: 18px;
  --sub-title: 16px;
  --text: 14px;
  --misc: 10px;
  /* colors */
  --bg-special: #bccbb7;
  --text-primary: #212529;
  --bg-primary: #f4f4f4;
  --bg-selected: #ebebeb;
  --border-color: #d0d0d0;
  --color-personal: #fe6b6b;
  --color-work: #67d8e8;
  --color-shopping: #fed43b;
  --btn-primary: #fdd43a;
  --padding-common: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: var(--text);
}

.bg-wrapper {
  background-color: var(--bg-special);
  padding: 80px 120px;
}

.app {
  height: calc(100vh - 160px);
  background-color: #fff;
  border-radius: 16px;
  padding: var(--padding-common);
  box-shadow: -1px 1px 106px -1px rgba(135,119,119,0.63);
  -webkit-box-shadow: -1px 1px 106px -1px rgba(135,119,119,0.63);
  -moz-box-shadow: -1px 1px 106px -1px rgba(135,119,119,0.63);
}

.app-sidebar-left {
  background-color: var(--bg-primary);
  height: 100%;
  border-radius: 8px;
  width: 320px;
  padding: var(--padding-common);
  overflow: auto;
}

.app-content {
  padding: var(--padding-common);
  width: calc(100% - 440px - 320px);
}

.app-sidebar-right {
  padding: var(--padding-common);
  background-color: var(--bg-primary);
  height: 100%;
  border-radius: 8px;
  width: 440px;
}

.app-title {
  font-size: var(--title);
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-tasks-title {
  color: var(--text-primary);
  font-size: var(--text);
  font-weight: bold;
  letter-spacing: 1px;
}

.app-tasks-types {
  list-style: none;
  margin: 8px;
  padding: 0;
}

.app-tasks-types li {
  padding: 4px 0;
  font-size: var(--text);
}

.app-tasks-types li span {
  margin-right: 8px;
  width: 20px;
  display: inline-block;
  text-align: center;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
}

#todo-form {
  display: flex;
  margin-bottom: 20px;
  padding: var(--padding-common) 0;
}

#search-form {
  display: flex;
  flex: 1;
  padding: var(--padding-common) 0;
}

.input-field {
  flex: 1;
  padding: 10px;
  font-size: var(--text);
  color: var(--text-primary);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  font-weight: bold;
}

.input-textarea {
  flex: 1;
  padding: 10px;
  font-size: var(--text);
  color: var(--text-primary);
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-primary);
  font-weight: bold;
}

.input-field-todo {
  background-color: #fff;
  font-size: var(--sub-title);
  padding: 16px;
}

.no-border-right {
  border-right: none;
}

.btn {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: var(--text);
  color: var(--text-primary);
  border: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background: var(--btn-primary);
}

.todo-item {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  align-items: flex-start;
}

.todo-item:hover {
  background-color: var(--bg-selected);
  cursor: pointer;
}

li:first-child .todo-item {
  border-top: 1px solid var(--border-color);
}

.input-checkbox {
  height: 16px;
  width: 16px;
  margin-top: 5px;
}

#todo-list {
  list-style: none;
  padding: 0;
  height: calc(100vh - 392px);
  overflow: auto;
}

.todo-text {
  flex: 1;
  padding-left: 8px;
}

.todo-text p {
  margin: 0;
}

#todo-list li .delete-todo, .expand-todo {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
}

.todo-description {
  display: none;
  padding: 8px;
  font-size: var(--misc);
  margin-top: 8px;
}

.todo-description.show {
  display: block;
}

.expand-todo:hover {
  cursor: pointer;
}

#todo-list li.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 4px;
  font-size: 12px;
}

.left-sidebar {
  width: 20%;
  padding: 0 8px;
  min-width: 260px;
}

.content {
  width: 60%;
  padding: 0 8px;
}

.right-sidebar {
  width: 20%;
  min-width: 260px;
  padding: 0 8px;
}

.d-flex {
  display: flex;
  flex: 1;
}

.align-bottom {
  align-items: flex-end;
}

#search-list {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  height: 140px;
  overflow: auto;
}

#search-list li {
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 10px;
    padding: 4px 0;
    position: relative;
    border-bottom: 1px solid var(--border-color);
}

#search-list li.no-data {
  font-size: 12px;
  height: 100px;
  justify-content: center;
}

#notification {
  background-color: #f34436;
  position: fixed;
  width: 0px;
  top: 16px;
  right: 16px;
  padding: 10px 8px;
  border-radius: 4px;
  color: #fff;
  display: none;
  transition: all 2s ease;
}

#notification.show {
  width: 300px;
  display: block;
}

.position-relative {
  position: relative;
}

#result-count {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: #136917;
  font-weight: bold;
}

.search-date-time {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 10px;
  color: #b0b7b7;
  font-style: italic;
}

.justify-content-between {
  justify-content: space-between;
}

li.no-data {
  
}

.justify-end {
  justify-content: flex-end;
}

.mr-2 {
  margin-right: 8px;
}

.date-field {
  display: flex;
}

.date-field .input-field {
  background-color: transparent;
  border: none;
}

.w-100 {
  width: 100%;
}

.mt-4 {
  margin-top: 16px;
}

.py-4 {
  padding: 16px 0;
}

.date-description {
  font-size: var(--misc);
}

.due-date {
  font-size: var(--misc);
  background: var(--color-work);
  padding: 4px 8px;
  margin-right: 4px;
  border-radius: 4px;
}